.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: red;
  padding: 0rem 2rem;
}

.nav ul {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.nav ul li {
  padding: 0.5rem 1rem;
  border: none;
  margin: 1rem 0.8rem 0 0.8rem;
  background: white;
}
